body {
    color: #17252a;
    background: #feffff;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 700;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #17252a;
    text-align: center;
}
footer .copyright a {
    color: #17252a;
}
footer .copyright a:hover {
    color: #2b7a78;
}
footer .copyright:before {
    content: '©';
}

@media (max-width: 400px) {
    header h1 {
        font-size: 30px;
    }
}