:root {
	--black: #030303;
	--burgundy: #710707;
	--white: #fff;
	--font-gold: #9d8665;
	--font-regular: 22px;
  /* change to 300 if necessary */
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Thin.woff2) format('woff2');
  font-weight: 100;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Light.woff2) format('woff2');
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Forum';
  src: url(assets/fonts/Forum-Regular.woff2) format('woff2');
  font-weight: 100;
  font-display: fallback;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: var(--font-regular);
	color: var(--white);
	background-color: var(--black);
	scroll-behavior: smooth;
	min-width: 319px;
	height: auto;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	margin: 0 auto;
}

h1 {
	margin: 0;
	font-weight: 100;
}

h2 {
	margin-top: 0;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	width: 80%;
	position: relative;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.dark {
	background-color: var(--black);
}

.light {
	background-color: var(--white);
}

.light a {
	color: var(--black);
}

.light .section-title {
	color: #9d8665;
}

.section-title {
	position: relative;
	font-family: 'Forum';
	font-size: 80px;
	line-height: 90px;
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: var(--white);
}

.section-title::after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	right: 0;
	height: 3px;
	width: 100%;
	background-color: var(--burgundy);
}


/*  */


/* HEADER */


/*  */

.header-container {
	width: 100%;
	z-index: 40;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	background-color: var(--black);
	font-weight: 100;
	overflow-x: hidden;
}

.header-container a {
	color: var(--white);
	transition: .5s;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Forum';
}

.logo-pic {
	background-image: url(assets/svg/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 49px;
	height: 27px;
	margin-bottom: 7px;
}

.logo-pic path {
	transition: .5s;
}

.logo:hover path {
	fill: var(--font-gold);
}

.logo-name {
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 5px;
}

.header-navigation {
	width: 54%;
	max-width: 775px;
}

.navigation-list {
	display: flex;
	justify-content: space-between;
	max-width: 775px;
	width: 100%;
	font-weight: 100;
	letter-spacing: 2px;
	padding-left: 0;
}

.header-container a:hover {
	color: #9d8665
}

.navigation-scaled {
	display: block;
	position: absolute;
	height: 100%;
	width: 297px;
	left: -200%;
	top: 0;
	background-color: #030303;
	z-index: 20;
}

.nav-scaled-images {
	display: none;
}

.navigation-scaled a {
	text-decoration: none;
	color: #fff;
	transition: .5s;
}

.navigation-scaled a:hover {
	color: var(--font-gold);
}

.navigation-scaled ul {
	margin-top: 35px;
	padding-left: 35px;
	width: 120px;
}

.navigation-scaled li {
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 2px;
}

.navigation-scaled li::after {
	position: absolute;
	left: 148px;
	content: ">";
	transition: .5s;
}

.navigation-scaled li:hover::after {
	color: var(--font-gold);
}

.navigation-scaled .social-links {
	display: none;
}

@keyframes slideInNav {
	0% {
		left: -200%;
	}
	100% {
		left: 0;
	}
}

@keyframes slideOutNav {
	0% {
		left: 0;
	}
	100% {
		left: -200%;
	}
}

.show-nav {
	animation: slideInNav .3s forwards;
}

.hide-nav {
	animation: slideOutNav .3s forwards;
}

.header-burger-menu {
	cursor: pointer;
	padding-top: 5px;
	display: none;
}

.bar1,
.bar2,
.bar3 {
	width: 32px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 6px;
	transition: 0.4s;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-5px, 3px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-9px, -7px);
}


/*  */


/* section WELCOME */


/*  */

.welcome {
	margin: 0 auto;
}

.welcome-grid {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.welcome-text {
	margin-top: 150px;
	margin-right: -20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

.welcome-text .section-title {
	margin-bottom: 0;
	padding-bottom: 0;
}

.welcome-text .section-title::after {
	display: none;
}

.welcome-subtitle,
.welcome-button {
	letter-spacing: 2px;
	font-weight: 300;
	color: var(--white);
}

.welcome-subtitle {
	margin-left: 0;
	padding-top: 25px;
	padding-bottom: 75px;
	font-size: 28px;
	line-height: 33px;
}

.welcome-button {
	margin: 0;
	padding: 0;
	width: 360px;
	height: 75px;
	position: absolute;
	border-radius: 10px;
	background-color: var(--burgundy);
	cursor: pointer;
	transition: .5s;
	text-align: center;
	line-height: 75px;
	letter-spacing: 2px;
	font-size: var(--font-regular);
}

.welcome-button:hover {
	background-color: #9d8665;
}

.welcome-slider {
	z-index: 5;
	position: relative;
	overflow: hidden;
	padding-bottom: 55px;
	max-width: 1000px;
	width: 70%;
	height: auto;
}

.welcome-slider-item {
	position: relative;
	display: none;
	margin: 0 auto;
	z-index: 3;
	animation: .5s ease-in-out;
}

.welcome-slider-item.active,
.welcome-slider-item.next {
	display: block;
}

.welcome-slider-item.next {
	position: absolute;
	top: 0;
	width: 100%;
}

.welcome-slider-item img {
	width: 100%;
	height: auto;
}

.to-left {
	animation-name: left;
}

.to-right {
	animation-name: right;
	animation-direction: reverse;
}

.from-left {
	animation-name: left;
	animation-direction: reverse;
}

.from-right {
	animation-name: right;
}

@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%
	}
}

@keyframes right {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

.welcome-slider-shadow {
	background: linear-gradient(90deg, #030303 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	display: block;
}

.welcome-pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--black);
	width: 600px;
	height: 115px;
	position: absolute;
	right: 0;
	bottom: 2px;
	z-index: 20;
}

.status-bar {
	margin-left: 74px;
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.status-bar p {
	font-size: 22px;
	margin-right: 10px;
}

.status-bar p:last-child {
	margin-right: 0;
}

.vertical-line {
	margin: 0px 15px;
	content: "";
	width: 2px;
	height: 20px;
	background-color: var(--white);
}

.welcome-indicators {
	display: flex;
	justify-content: space-between;
}

.welcome-indicator {
	height: 15px;
	width: 15px;
	background-color: var(--white);
	transition: .5s;
	cursor: pointer;
	flex-basis: 15px;
	margin-right: 25px;
	transition: .5s;
}

.welcome-indicator:hover {
	background-color: #9d8665;
}

.welcome-indicator:last-child {
	margin-right: 0;
}

.welcome-selected {
	background-color: #d2b183;
	transition: .5s;
}

.welcome-arrows button {
	padding: 10px 0;
	background-color: var(--black);
	box-shadow: none;
	border: none;
	cursor: pointer;
}

.welcome-arrows {
	margin-right: 65px;
	padding-left: 0;
}

.welcome-arrow path {
	transition: .5s;
}

.welcome-arrow:hover path {
	fill: #9d8665;
}

.welcome-arrow svg {
	margin: 0 10px;
}


/*  */


/* sectiong VISITING */


/*  */

.section.visiting {
	padding-bottom: 79px;
}

.visiting-grid {
	padding-top: 38px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 75px;
	column-gap: 60px;
}

.visiting-card {
	overflow-y: hidden;
}

.card-title {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Forum';
	font-size: 32px;
	line-height: 35px;
	letter-spacing: 5px;
	text-transform: uppercase;
	transition: .5s;
}

.visiting-grid a:hover .card-title {
	letter-spacing: 7px;
}

.card-title::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	height: 2px;
	width: 68%;
	background-color: var(--burgundy);
	transition: 1s;
}

.visiting-grid a:hover .card-title::after {
	width: 100%;
}

.card-subtitle {
	font-weight: 100;
	font-size: var(--font-regular);
	line-height: 26px;
}

.card-subtitle+p {
	padding-top: 10px;
	font-size: 18px;
  font-weight: 100;
}


/*  */


/* Section EXPLORE */


/*  */

.section.explore {
	padding-bottom: 65px;
}

.explore-grid {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 100%;
}

.explore-grid .section-title::after {
	width: 660px;
}

.explore-left {
	font-weight: 300;
	line-height: 38px;
}

.explore-text {
	margin-top: 105px;
}

.explore-text span {
	color: #9d8665;
}

.explore-text p {
	width: 92%;
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

.explore-picture {
	position: relative;
	margin-top: 15px;
	height: auto;
}

.explore-background {
	width: 100%;
	height: auto;
}

.explore-thumb {
	position: absolute;
	left: 58%;
	top: 0%;
	height: 99.3%;
	cursor: pointer;
	pointer-events: none
}

.explore-thumb img {
	height: 100%;
}

.explore-background img,
.explore-foreground img {
	min-width: 600px;
	max-width: 720px;
	width: 38vw;
}

.explore-foreground {
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	overflow: hidden;
	width: 60%;
}

.explore-slider {
	display: block;
	position: absolute;
	top: 0;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: none;
	outline: none;
	margin: 0;
	transition: all .2s;
	cursor: pointer;
	color: transparent;
}

::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 100%;
	background: white;
	cursor: pointer;
}


/*  */


/* Section VIDEO */


/*  */

.video {
	padding-bottom: 74px;
	padding-top: 80px;
}

.video-title-grid {
	display: flex;
	justify-content: space-between;
	height: 165px;
	margin-bottom: -5px;
}

.video-title-grid .section-title::after {
	display: none;
}

.video-subtitle {
	margin: 0;
	padding-top: 5px;
	width: 720px;
	font-weight: 300;
	line-height: 40px;
	color: var(--black);
}

.videoplayer {
	max-width: 1440px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 5px;
}

.main-video {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	margin-bottom: -5px;
}

.main-video img {
	width: 100%;
	height: auto;
}

.main-video button {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: block;
}

.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 15.2%;
	height: auto;
}

.play-button path {
	transition: .3s;
}

.play-button:hover path {
	fill: #bcbcbc;
}

.video-poster {
	margin: 0;
	padding: 0;
}

.player-controls {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 85px;
	background-color: var(--black);
}

.player-controls-inner {
	margin: 0 auto;
	padding: 0;
	padding-top: 25px;
	max-width: 1380px;
	width: calc(100% - 60px);
	height: 35px;
	background-color: var(--black);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.player-controls-inner button {
	margin: 0;
	padding: 0;
}

.player-controls-inner svg {
	margin: 0;
	padding: 0;
}

.play-button-small {
	width: 23px;
	height: 31px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	margin-left: 30px;
}

.player-controls-inner path {
	transition: .5s;
}

.play-button-small:hover path {
	fill: #989898;
}

.fullscreen-video {
	width: 35px;
	height: 35px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	margin-right: 30px;
}

.fullscreen-video:hover path {
	fill: #989898;
}

.volume {
	width: 38px;
	height: 31px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.volume:hover path {
	fill: #989898;
}

.progress-bar {
	position: relative;
	width: 67.3%;
	max-width: 929px;
	height: 15px;
}

.progress-bar input {
	background-color: transparent;
}

.volume-range {
	max-width: 155px;
	width: 11.2%;
	height: 15px;
	background-color: transparent;
	position: relative;
}

.volume-bar-main {
	top: 15px;
	position: absolute;
	width: 100%;
	height: 8px;
	background-color: #c4c4c4;
}

.volume-bar-sub {
	top: 15px;
	position: absolute;
	width: 46%;
	height: 8px;
	background-color: var(--burgundy);
}

.video input[type=range] {
	height: 21px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	position: absolute;
}

.video input[type=range]:focus {
	outline: none;
}

.video input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background-color: transparent;
}

.video input[type=range]::-webkit-slider-thumb {
	height: 15px;
	width: 15px;
	border-radius: 15px;
	background: var(--white);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}

.progress-bar-main {
	top: 15px;
	position: absolute;
	width: 100%;
	height: 8px;
	background-color: #c4c4c4;
}

.progress-bar-sub {
	top: 15px;
	position: absolute;
	width: 54%;
	height: 8px;
	background-color: var(--burgundy);
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background-color: transparent;
}

.video-slider {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.video-slider iframe {
	border: 0;
  width: 100%;
  height: 100%;
}

.video-slider-item {
	position: relative;
	max-width: 452px;
	width: 31.4%;
	height: 254px;
	display: none;
	animation: .5s ease-in-out;
	z-index: 3;
  background-color: #030303;
}

.video-preview{
	max-width: 452px;
	width: 100%;
	height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.video-slider-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 68px;
  height: 48px; 
  padding: 0;
  border: none; 
  cursor: pointer;
  display: none;
}
.video-button-shape {
  fill: #212121;
  fill-opacity: .8;
  transition: .2s;
}
.video-slider-item:hover .video-button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video-button-red {
  fill: #fff;
}

.enabled .video-slider-play{
  display: block;
}

.video-slider-item.active,
.video-slider-item.next {
	display: block;
}

.video-slider-item.next {
	position: absolute;
	top: 0;
	width: 100%;
}

.video-slider-pagination {
	width: 220px;
	height: 12px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}

.video-slider-pagination svg {
	margin-right: 15px;
	cursor: pointer;
}

.video-slider-pagination svg:last-child {
	margin-right: 0;
}

.video-slider-pagination path,
.video-slider-pagination circle {
	transition: .5s;
}

.pagination-button:hover path {
	fill: var(--burgundy);
}

.pagination-button:hover circle {
	fill: var(--burgundy);
}


/*  */


/* Section GALLERY */


/*  */

.gallery {
	padding-bottom: 0;
	padding-top: 85px;
}

.gallery .section-title::after {
	display: none;
}

.gallery-container {
	margin: 0;
	height: 1960px;
	overflow-y: hidden;
	width: 100%;
}

.gallery-grid {
	margin-top: 10px;
	margin-right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap: 24px 18px;
	height: 3000px;
	width: 100%;
}

.gallery-grid img {
	width: calc(33% - 20px);
	max-width: 456px;
}

.gallery-grid::before,
.gallery-grid::after {
	content: '';
	flex: 1 100%;
	order: 1;
	margin: 0;
	padding: 0;
	width: 0;
}

.gallery-element:nth-child(n + 6) {
	order: 1;
}

.gallery-element:nth-child(n + 11) {
	order: 2;
}

.gallery-element:first-child,
.gallery-element:nth-child(11) {
	margin-top: 50px;
}

.gallery-element:nth-child(1),
.gallery-element:nth-child(11) {
	margin-top: 50px;
}

.gallery-element:nth-child(n + 6) {
	order: 1;
}

.gallery-element:nth-child(n + 11) {
	order: 2;
}

.gallery-shadow {
	width: 100%;
	height: 50%;
	position: absolute;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #030303 100%);
	bottom: 0;
}


/*  */


/* Section TICKETS*/


/*  */

.section.tickets {
	color: var(--black);
	padding-top: 85px;
	padding-bottom: 70px;
}

.buy-now {
	border-radius: 2px;
	text-transform: capitalize;
	font-size: var(--font-regular);
}

.tickets-grid {
	margin-top: 103px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 2px;
}

.tickets-grid img {
	max-width: 720px;
	width: 100%;
	height: auto;
}

.section-title.tckts::after {
	bottom: -29px;
}

.tickets-caption {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.tickets-caption h3 {
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	margin-left: 60px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: capitalize;
}

.right-caption {
	text-align: right;
}

.radio-inputs {
	margin-top: 25px;
}

.radio-text {
	position: relative;
	margin-left: 60px;
	margin-top: 25px;
	margin-right: 0;
	display: block;
	width: 270px;
	height: 26px;
	font-weight: 300;
	line-height: 26px;
	cursor: pointer;
	user-select: none;
}

.custom-radio {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.custom-radio+label::before {
	content: '';
	display: inline-block;
	margin-right: 23px;
	width: 17px;
	height: 17px;
	background-image: url(assets/svg/custom-radio/unchecked.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.custom-radio:checked+label::before {
	background-image: url(assets/svg/custom-radio/checked.svg);
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.tickets-forms {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.tickets-button input[type="number"] {
	all: unset;
	width: 50px;
	text-align: center;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 300;
	line-height: 26px;
}

.tickets-button input[type="number"]::-webkit-outer-spin-button,
.tickets-button input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.tickets-counter {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	width: 150px;
	text-align: left;
	justify-self: end;
}

.tickets-counter p {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 300;
	line-height: 26px;
}

.tickets-button {
	width: 150px;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid black;
	box-sizing: border-box;
}

.tickets-button button {
	margin-left: 14px;
	margin-right: 14px;
	padding: 0;
	height: 44px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
}

.tickets-checkout {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.tickets-checkout button {
	margin-top: 60px;
	width: 175px;
	height: 50px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 2px;
	color: var(--white);
	background-color: black;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	transition: .5s;
}

.tickets-checkout button:hover {
	background-color: #9d8665;
	color: var(--black);
}

.tickets-sum {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	text-align: right;
	justify-self: end;
	width: 150px;
}

.tickets-sum h3 {
	margin: 0;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: 1.65px;
	justify-self: end;
}

.container.tickets {
	position: relative;
}

@keyframes slideIn {
	100% {
		left: 50%;
	}
}

@keyframes slideOut {
	0% {
		left: 50%;
	}
	100% {
		left: -200%;
	}
}

.show-form {
	animation: slideIn 0.5s forwards;
}

.hide-form {
	animation: slideOut 0.5s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
	}
}

.show-overlay {
	animation: fadeIn .5s forwards;
}

.hide-overlay {
	animation: fadeOut .5s forwards;
}

.tickets-purchase-overlay {
	width: 100vw;
	height: 100vh;
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 55;
}

.tickets-purchase {
	display: none;
	position: absolute;
	top: 15%;
	left: -150%;
	background-color: var(--white);
	max-width: 1440px;
	max-height: 845px;
	min-width: 1024px;
	min-height: 768px;
	width: 90vw;
	height: 67.5vw;
	top: 50%;
	transform: translate(-50%, -50%);
}

.tickets-close-icon {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

.tickets-close-icon path {
	transition: .5s;
}

.tickets-close-icon:hover path {
	stroke: #9d8665;
}

.purchase-inner {
	margin: 0 auto;
	margin-top: 93px;
	display: flex;
	justify-content: space-between;
	width: 970px;
	height: 663px;
}

.tickets-logo {
	position: absolute;
}

.tickets-info .section-title {
	font-size: 50px;
	letter-spacing: 0mm;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

.tickets-info .section-title::after {
	bottom: -30px;
}

.tickets-info {
	width: 400px;
	height: 663px;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: var(--black);
}

.tickets-subtitle {
	color: var(--burgundy);
}

.tickets-forms-purchase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px 20px;
}

.tickets-inputs {
	position: relative;
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px 20px;
}

.tickets-inputs input,
.tickets-inputs select {
	box-sizing: border-box;
	padding: 0;
	border-radius: 0;
	height: 45px;
	width: 100%;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

 ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
 ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
 ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
	color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: url(assets/svg/input-icons/input-list.svg) no-repeat 0 50%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	background: url(assets/svg/input-icons/input-list.svg) no-repeat 0 50%;
}

.tickets-inputs input[type="date"] {
	width: 190px;
}

.date-placeholder,
.time-placeholder {
	position: absolute;
	background-color: transparent;
	top: 13px;
}

.date-placeholder {
	left: 43px;
}

.time-placeholder {
	right: 105px;
}

 ::placeholder {
	color: #030303;
}

.tickets-inputs input[type="date"] {
	width: 190px;
	background: url(assets/svg/input-icons/date.svg) no-repeat 15px 50%;
	padding-left: 40px;
	color: var(--white);
}

.tickets-inputs input[type="time"] {
	width: 190px;
	background: url(assets/svg/input-icons/time.svg) no-repeat 15px 50%;
	padding-left: 40px;
	color: var(--white);
}

.tickets-inputs input[type="text"] {
	background: url(assets/svg/input-icons/name.svg) no-repeat 15px 50%;
	padding-left: 40px;
}

.tickets-inputs input[type="email"] {
	background: url(assets/svg/input-icons/email.svg) no-repeat 15px 50%;
	padding-left: 40px;
}

.tickets-inputs input[type="tel"] {
	background: url(assets/svg/input-icons/tel.svg) no-repeat 15px 50%;
	padding-left: 40px;
}

.custom-select {
	width: 400px;
	height: 45px;
	border: 1px solid var(--black);
	box-sizing: border-box;
	vertical-align: middle;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	cursor: pointer;
}

.custom-select select {
	display: none;
}

.select-logo {
	padding: 15px;
	padding-bottom: 0;
}

.select-list {
	padding: 15px 10px;
}

.custom-select p {
	margin: 0;
	padding-top: 11px;
	flex-basis: 330px;
}

.select-drop-down {
	display: none;
	border: 1px solid var(--black);
	box-sizing: border-box;
	width: 400px;
	height: 136px;
	background-color: var(--white);
	position: absolute;
	left: 0;
	bottom: -134px;
	z-index: 20;
}

.option {
	width: 100%;
	height: 45px;
	transition: .5s;
	cursor: pointer;
}

.option p {
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	margin-left: 42px;
	padding-top: 10px;
	text-transform: capitalize;
}

.option:hover {
	background-color: #e7e7e7;
}

.select-list path {
	width: 17px;
	height: 17px;
}

.entry-ticket {
	display: flex;
	position: relative;
	width: 400px;
	height: 135px;
	border: 1px solid var(--black);
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
}

.entry-ticket-line {
	width: 370px;
	margin: 0 auto;
	margin-top: 10px;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.entry-ticket-line:last-child {
	margin-top: 0;
}

.entry-ticket h3 {
	margin: 0;
	margin-top: 7px;
	margin-left: 15px;
	margin-bottom: 15px;
	font-family: 'Forum';
	font-size: 18px;
	line-height: 20px;
	height: 20px;
	text-transform: capitalize;
	color: #9d8665;
	flex-basis: 400px;
}

.entry-ticket p {
	margin: 0;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

.entry-ticket .crossline {
	position: absolute;
	margin: 0;
	top: 35px;
	left: 15px;
	width: 370px;
}

.entry-ticket .tickets-button {
	width: 105px;
	height: 25px;
	flex-wrap: nowrap;
}

.entry-ticket input[type="number"] {
	font-size: 18px;
	margin: 0;
	margin-top: 2px;
}

.entry-ticket button {
	margin: 0;
	height: 100%;
	width: 50px;
	background-color: var(--black);
	font-size: 15px;
	line-height: 10px;
	color: var(--white);
}

.entry-ticket .tickets-amount {
	margin: 0;
	height: 100%;
}

.tickets-payment {
	width: 530px;
	height: 663px;
	border: 1px solid var(--black);
	box-sizing: border-box;
	position: relative;
}

.payment-info {
	width: 470px;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
}

.tickets-payment img {
	position: absolute;
	top: 0;
	right: 0;
}

.tickets-payment h3 {
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
}

.tickets-payment h4 {
	margin: 0;
	margin-top: 5px;
	font-weight: 500;
	line-height: 26px;
	color: var(--burgundy);
	opacity: 0.9;
}

.tickets-payment p {
	font-weight: 100;
	font-size: 18px;
}

.payment-info p {
	margin-top: 8px;
	line-height: 21px;
}

.payment-date {
	background: url(assets/svg/input-icons/date.svg) no-repeat 0 50%;
	padding-left: 30px;
}

.payment-time {
	background: url(assets/svg/input-icons/time.svg) no-repeat 0 50%;
	padding-left: 30px;
}

.payment-type {
	background: url(assets/svg/input-icons/check.svg) no-repeat 0 50%;
	padding-left: 30px;
}

.counter {
	width: 32px;
	height: 20px;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	background-color: var(--black);
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}

.payment-subtotal {
	width: 470px;
	margin: 0 auto;
	display: flex;
	height: 30px;
	margin-bottom: 5px;
}

.payment-subtotal p {
	margin: 0;
	margin-left: 10px;
	font-weight: normal;
	font-size: var(--font-regular);
}

.counter p {
	font-size: 18px;
	color: #a4a4a3;
	height: 20px;
	margin: 0;
	padding: 0;
}

.basic-sum {
	text-align: right;
	flex-grow: 1;
}

.crossline {
	content: "";
	align-self: center;
	margin-left: 5%;
	width: 90%;
	height: 2px;
	background-color: var(--burgundy);
}

.payment-total {
	margin: 0 auto;
	width: 470px;
	display: flex;
	justify-content: space-between;
}

.payment-total h3 {
	margin-top: 7px;
	font-size: 32px;
	line-height: 37px;
	font-weight: normal;
}

.credit-card-main {
	width: 360px;
	height: 211px;
	background-color: #bcbcbc;
	border-radius: 2px;
	position: absolute;
	bottom: 127px;
	left: 30px;
	z-index: 10;
}

.credit-card-main * {
	margin-left: 10px;
}

.credit-card-sub {
	width: 360px;
	height: 211px;
	background-color: #939393;
	border-radius: 2px;
	position: absolute;
	z-index: 5;
	bottom: 97px;
	right: 30px;
}

.card-field input[type="number"]::-webkit-outer-spin-button,
.card-field input[type="number"]::-webkit-inner-spin-button {
	display: block;
	opacity: 1;
}

.card-field.inner {
	position: absolute;
	bottom: 30px;
	right: 20px;
	width: 70px;
	height: 100px;
}

.card-field p {
	margin-top: 15px;
	font-size: 12px;
	line-height: 15px;
}

.card-field input {
	height: 35px;
	background-color: var(--white);
	border: 1px solid #a4a4a3;
	box-sizing: border-box;
}

.card-field input[type="number"] {
	width: 100px;
	height: 35px;
	font-size: 12px;
	line-height: 24px;
}

input:focus,
textarea {
	outline: none;
}

.card-number {
	width: 215px;
}

.card-name {
	width: 320px;
}

.visa-icon {
	position: absolute;
	right: 20px;
	top: 35px;
}

.mastercard-icon {
	position: absolute;
	top: 66px;
	right: 20px;
}

.credit-black-line {
	position: absolute;
	right: 0;
	top: 25px;
	width: 100%;
	height: 45px;
	background-color: var(--black);
}

.card-field.inner p {
	margin: 0;
	margin-left: 10px;
	margin-bottom: 8px;
}

.card-field.inner .cvv-info {
	line-height: 12px;
	margin: 0;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 10px;
}

.card-cvv {
	width: 75px;
}

.checkout {
	position: absolute;
	bottom: 26px;
	right: 30px;
	width: 220px;
	height: 45px;
	font-size: var(--font-regular);
	background-color: var(--burgundy);
	border: none;
	line-height: 26px;
	font-weight: normal;
	color: var(--white);
	cursor: pointer;
	overflow: hidden;
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 600ms linear;
	background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}


/*  */


/* Parallax background */


/*  */

.parallax {
	height: 400px;
	background-image: url(assets/img/parallax.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: -50vw;
}


/*  */


/* Section CONTACTS*/


/*  */

.contacts-grid {
	margin-top: 97px;
	margin-bottom: 3px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.contacts-text {
	margin-top: 2px;
	color: #030303;
}

.contacts-text h3 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
}

.contacts-text ul {
	margin-left: 0;
	margin-top: 50px;
	padding-left: 0;
	font-weight: 300;
	line-height: 26px;
}

.contacts-text li {
	margin-bottom: 25px;
}

.contacts-map {
	content: "";
	max-width: 960px;
	width: 67.78vw;
	max-height: 620px;
	height: 44.34vw;
}


/*  */


/* FOOTER */


/*  */

.footer-container {
	width: 100%;
	z-index: 40;
	display: flex;
	flex-direction: column;
	height: 392px;
	font-weight: 100;
}

.footer-container a {
	color: var(--white);
	transition: .5s;
	font-weight: 100;
	line-height: 26px;
}

.footer-container a:hover {
	color: #9d8665;
}

.footer-main {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 265px;
}

.footer-main::after {
	content: "";
	height: 1px;
	width: 100vw;
	margin-left: -50vw;
	background-color: var(--white);
	left: 50%;
	bottom: 0;
	position: absolute;
	display: block;
}

.footer-left {
	margin-top: 84px;
	display: flex;
	justify-content: space-between;
}

.footer-left .logo {
	align-items: flex-start;
}

.footer-left .logo-name {
	margin-top: 5px;
}

.footer-right {
	width: 25%;
}

.footer-sub {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 124px;
	font-weight: 100;
	line-height: 22px;
	color: var(--white);
	letter-spacing: 2px;
}

.footer-sub p {
	margin: 0;
	padding: 0;
	height: 26px;
}

.footer-sub a {
	margin: 0;
	padding: 0;
}

.footer-navigation ul {
	max-width: 363px;
	width: 25.2%;
}

.footer-navigation-list {
	margin-top: 5px;
	margin-left: 100px;
	padding-top: 0;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
	row-gap: 10px;
	justify-content: space-between;
	width: 775px;
	font-weight: 100;
	line-height: 26px;
	letter-spacing: 2px;
}

.footer-navigation-list li {
	margin-right: 175px;
	margin-bottom: 15px;
}

.social-links {
	margin-top: 160px;
	text-align: right;
	padding-left: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.social-links a {
	padding: 10px;
}

.social-icon {
	position: relative;
	width: 38px;
	height: 38px;
	padding: 5px;
	border: 1px solid var(--white);
	border-radius: 100%;
	transition: all .5s;
	text-align: center;
}

.social-icon path {
	transition: .5s;
}

.social-icon:hover {
	border: 1px solid #9d8665;
}

.social-icon:hover path {
	fill: #9d8665;
}

.social-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-12px) translateY(-12px);
	display: block;
	width: 24px;
	height: 24px;
}

@media (max-width: 1700px) {
	.video-subtitle {
		display: none;
	}
}

@media (max-width: 1580px) {
	.container {
		width: 1232px;
		margin: 0 auto;
	}
	.section-title {
		font-size: 60px;
	}
	.explore-grid .section-title::after {
		width: 505px;
	}
	.welcome-text {
		margin-top: 100px;
	}
	.header-container {
		height: 130px;
	}
	.welcome-pagination {
		width: 100%;
		bottom: 7px;
	}
	.welcome-pagination * {
		margin-top: 3px;
	}
	.status-bar {
		margin-left: 214px;
	}
	.gallery-container {
		height: 1215px;
	}
	.explore-thumb {
		height: 97.9%;
	}
}

@media(max-width:1272px) {
	.container {
		width: calc(100% - 40px);
		margin: 0 20px;
	}
	.section-title {
		font-size: 50px;
		margin-bottom: 44px;
	}
	.explore-grid .section-title::after,
	.section-title::after {
		width: calc(100vw - 40px);
		bottom: -15px;
	}
	.welcome-text {
		margin-top: 50px;
		margin-right: -250px;
	}
	.welcome-slider {
		padding-bottom: 65px;
	}
	.welcome-subtitle {
		font-size: 25px;
		letter-spacing: 1.5px;
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.welcome-button {
		width: 300px;
		height: 60px;
		font-size: 20px;
		line-height: 60px;
	}
	.welcome-arrow.left svg {
		margin-left: 20px;
		margin-right: 0;
	}
	.status-bar p {
		font-size: 20px;
	}
	header nav {
		display: none;
	}
	.header-burger-menu {
		display: block;
	}
	.card-title {
		font-size: 28px;
		line-height: 31px;
		letter-spacing: 3px;
	}
	.visiting-grid {
		column-gap: 30px;
		justify-content: space-evenly;
	}
	.explore-grid {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.explore-text {
		margin-top: 77px;
		margin-bottom: 45px;
	}
	.explore-text .partly-hidden {
		display: none;
	}
	.explore-text p {
		margin: 0;
		width: 100%;
		line-height: 36px;
	}
	.explore-text br {
		display: none;
	}
	.explore-background img,
	.explore-foreground img {
		width: 70vw;
	}
	.explore-thumb {
		height: 99.3%;
	}
	.video .video-subtitle {
		display: none;
	}
	.videoplayer {
		width: 100%;
	}
	.video-slider-item {
		height: 212px;
	}
	.progress-bar-main,
	.progress-bar-sub,
	.volume-bar-main,
	.volume-bar-sub {
		height: 5px;
	}
	.tickets-forms {
		justify-content: center;
	}
	.tickets-checkout {
		align-items: flex-start;
	}
	.left-caption,
	.radio-inputs {
		display: none;
	}
	.tickets-caption,
	.right-caption,
	.tickets-forms {
		display: block;
		text-align: center;
	}
	.tickets-caption h3 {
		text-align: left;
		margin-bottom: 15px;
		margin-left: 0;
	}
	.tickets-counter p {
		font-size: 22px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.tickets-button {
		width: 175px;
		margin-bottom: 29px;
	}
	.tickets-sum {
		margin-top: -5px;
	}
	.tickets-checkout button {
		margin-top: 70px;
	}
	.tickets-buy {
		margin-left: 80px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.tickets-grid {
		display: flex;
		flex-direction: row;
	}
	.tickets-grid img {
		content: url('assets/img/tickets/tickets1-scaled1.jpeg');
		width: 100%;
		height: auto;
	}
	.tickets .section-title {
		margin-bottom: -28px;
	}
	.tickets-purchase .section-title {
		font-size: 50px;
		letter-spacing: 0mm;
		margin: 0;
		margin-top: 20px;
		padding: 0;
	}
	.tickets-purchase .section-title::after {
		bottom: -25px;
		left: 0;
		right: 0;
		width: 100%;
	}
	.purchase-inner {
		margin-top: 80px;
	}
	.payment-info p {
		margin-top: 6px;
	}
	.contacts-text h3 {
		font-size: 24px;
		line-height: 28px;
	}
	.contacts-text li {
		font-size: 20px;
		line-height: 23px;
	}
	.contacts .section-title {
		margin-bottom: 20px;
	}
	.contacts-grid {
		margin-top: 73px;
	}
	.contacts-text ul {
		margin-top: 35px;
	}
	.contacts-text li {
		margin-bottom: 15px;
	}
	.footer-container {
		height: 368px;
	}
	.social-links {
		margin-top: 170px;
	}
	.footer-navigation-list {
		margin-left: 0;
	}
	.footer-navigation-list li {
		letter-spacing: 3px;
		margin-right: 120px;
	}
	.footer-right {
		width: 36.7%;
	}
	.footer-sub {
		margin-top: 40px;
		letter-spacing: 3px;
	}
	.footer-main::after {
		bottom: -7%;
	}
	.tickets-purchase .section-title {
		margin-bottom: -4px;
	}
	.tickets-subtitle {
		margin-bottom: 1px;
	}
	.tickets-payment h4 {
		letter-spacing: 1px;
	}
	.payment-type {
		margin-bottom: 24px;
	}
	.payment-subtotal p {
		font-size: 22px;
		line-height: 25px;
	}
	.card-field p {
		line-height: 10px;
		margin-bottom: 4px;
	}
	.card-field input[type="number"] {
		font-size: 12px;
	}
}

@media (max-width: 1024px) {
	 :root {
		--font-regular: 20px;
	}
	.section {
		padding-top: 55px;
		padding-bottom: 60px;
	}
	.section.explore {
		padding-top: 55px;
	}
	.welcome-indicator {
		width: 12px;
		height: 12px;
	}
	.vertical-line {
		margin: 0 12px;
	}
	.welcome-arrows {
		margin-right: 65px;
	}
	.welcome-arrow:last-child {
		margin-right: 0;
	}
	.section.visiting {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.visiting-grid {
		padding-top: 32px;
		column-gap: 0;
		row-gap: 60px;
	}
	.visiting-grid img {
		width: 330px;
		height: 215px;
	}
	.visiting-grid a:hover .card-title {
		letter-spacing: 3px;
	}
	.card-subtitle+p {
		font-size: 16px;
		line-height: 18px;
	}
	.card-title::after {
		width: 45%;
	}
	.section.video {
		padding-top: 50px;
	}
	.videoplayer {
		margin-top: -51px;
	}
	.video .player-controls {
		height: 60px;
	}
	.video .player-controls-inner {
		padding-top: 11px;
	}
	.video .play-button-small svg {
		padding-top: 4px;
		width: 23px;
		height: 30px;
	}
	.video .volume svg {
		padding-top: 4px;
		width: 26px;
		height: 20px;
	}
	.video .fullscreen-video svg {
		padding-top: 4px;
		height: 26px;
	}
	.player-controls-inner {
		width: calc(100% - 80px);
	}
	.progress-bar {
		width: 564px;
		height: 3px;
	}
	.video input[type=range] {
		height: 18px;
	}
	.volume-range {
		width: 143px;
		height: 3px;
	}
	.video-slider-item {
		width: 300px;
		min-height: 0;
		height: 170px;
	}
	.parallax {
		max-height: 400px;
		height: calc(100vw - 500px);
		min-height: 300px;
	}
	.section.gallery {
		padding-top: 62px;
		padding-bottom: 58px;
	}
	.section.tickets {
		padding-top: 53px;
		padding-bottom: 52px;
	}
	.section-title.tckts::after {
		bottom: -15px;
	}
	.section.contacts {
		padding-bottom: 58px;
	}
	.select-drop-down {
		width: 100%;
	}
	footer {
		margin-top: -22px;
	}
}

@media (max-width:1023px) {
	.tickets-purchase {
		width: 100%;
		min-width: 1000px;
	}
}

@media (max-width:1000px) {
	.contacts-text h3 {
		font-size: 20px;
		line-height: 23px;
	}
	.contacts-text li {
		font-size: 18px;
		line-height: 21px;
	}
	.tickets-purchase {
		max-height: none;
		min-height: 0;
		height: 1479px;
		width: 76.8%;
		min-width: 590px;
		height: 100%;
		overflow-y: scroll;
	}
	.purchase-inner {
		flex-direction: column;
		align-items: center;
		width: 76.8%;
	}
	.purchase-inner .section-title {
		margin-top: 40px;
		margin-bottom: 10px;
	}
	.tickets-inputs {
		margin-top: 50px;
	}
	.tickets-info,
	.custom-select,
	.entry-ticket {
		width: 530px;
	}
	.time-placeholder {
		right: 165px;
	}
	.tickets-inputs input[type="date"],
	.tickets-inputs input[type="time"] {
		width: 251px;
	}
	.tickets-subtitle {
		margin-bottom: 5px;
	}
	.tickets-payment {
		margin-top: 50px;
		min-height: 665px;
		height: 665px;
	}
	.payment-info h3 {
		margin-top: 23px;
	}
	.custom-select p {
		flex-basis: 480px;
	}
	.credit-card-main {
		position: relative;
		left: 0;
		bottom: 0;
	}
	.credit-card-main {
		margin-left: 15px;
	}
	.entry-ticket h3 {
		flex-basis: 500px;
	}
	.entry-ticket .crossline,
	.tickets-payment .crossline {
		width: 500px;
		margin: 0 auto;
	}
	.card-field:first-child p {
		padding-top: 20px;
	}
	.credit-card-sub {
		bottom: 95px;
		right: 14px;
	}
	.checkout {
		position: absolute;
		bottom: 25px;
		right: 15px;
	}
	.payment-subtotal p {
		line-height: 22px;
	}
	.entry-ticket-line,
	.payment-info,
	.payment-subtotal,
	.payment-total {
		width: 500px;
	}
	.payment-info h4 {
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 0;
	}
}

@media (max-width:950px) {
	 :root {
		--font-regular: 18px;
	}
	.container {
		width: calc(100vw - 40px);
	}
	.section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.section-title {
		font-size: 40px;
		line-height: 60px;
		margin-bottom: 31px;
	}
	.section-title::after {
		bottom: -21px;
	}
	.explore .section-title::after {
		bottom: -23px;
	}
	.container.tickets .section-title::after {
		bottom: -22px;
	}
	.container.tickets .purchase-inner .section-title::after {
		bottom: -44px;
	}
	.header-container {
		height: 120px;
		margin-bottom: -10px;
	}
	.header-burger-menu {
		padding: 0;
	}
	.navigation-scaled {
		width: 100%;
	}
	.navigation-scaled ul {
		padding-left: 35px;
	}
	.nav-scaled-images {
		display: block;
		width: calc(100% - 70px);
		margin: 0 auto;
		margin-top: 35px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}
	.navigation-scaled li::after {
		left: 148px;
	}
	.navigation-scaled .social-links li::after {
		display: none;
	}
	.nav-img-container {
		width: calc(50% - 10px);
		height: 21vw;
	}
	.nav-img-container:first-child {
		width: 100%;
		height: 25.2vw;
	}
	.navigation-scaled img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.nav-scaled-line {
		position: absolute;
		width: calc(100% - 70px);
		height: 3px;
		background-color: #fff;
		opacity: .5;
		bottom: 13.5%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.navigation-scaled .social-links {
		display: flex;
		padding-left: 0;
		width: 46%;
		margin: 0 auto;
		margin-top: 8.9vw;
		height: 50px;
	}
	.navigation-scaled .social-icon {
		margin-bottom: 0;
	}
	.welcome-grid {
		flex-direction: column;
	}
	.welcome-pagination {
		position: relative;
		height: 100px;
		width: 55%;
		margin: 0 auto;
		z-index: 1;
	}
	.welcome-arrow.left svg {
		margin: 0;
	}
	.welcome-arrow svg {
		margin: 0;
	}
	.welcome-arrow:last-child svg {
		margin-left: 13px;
	}
	.welcome-button {
		display: none;
	}
	.welcome-slider {
		width: 100%;
		padding-bottom: 0;
	}
	.welcome-text {
		margin: 0;
		text-align: center;
	}
	.welcome-subtitle {
		font-size: 20px;
		letter-spacing: 2px;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.status-bar {
		margin: 0;
	}
	.welcome-arrows {
		margin-right: 0;
	}
	.welcome-slider-shadow {
		display: none;
	}
	.section.visiting {
		padding-top: 40px;
		padding-bottom: 80px;
	}
	.visiting-grid {
		padding-top: 30px;
		column-gap: 35px;
		row-gap: 39px;
		justify-content: space-evenly;
	}
	.visiting-grid img {
		width: 280px;
		height: 180px;
	}
	.card-subtitle+p {
		font-size: 16px;
		line-height: 18px;
	}
	.card-title {
		margin-top: 21px;
		margin-bottom: 19px;
		font-size: 22px;
		line-height: 24px;
		letter-spacing: 3px;
	}
	.card-title::after {
		width: 54%;
	}
	.section.explore {
		padding-top: 40px;
	}
	.explore-grid {
		align-items: flex-start;
	}
	.explore-picture {
		margin: 0 auto;
		margin-top: 45px;
	}
	.explore-background img,
	.explore-foreground img {
		width: calc(100vw - 46px);
		height: auto;
		max-width: 728px;
		max-height: 705px;
	}
	.explore-text {
		display: none;
	}
	.play-button {
		width: 10.9%;
		min-width: 50px;
		height: auto;
	}
	.player-controls-inner {
		width: calc(100% - 60px);
		justify-content: space-between;
		column-gap: 35px;
	}
	.volume-range {
		width: 100%;
		max-width: none;
		margin-top: 3px;
	}
	.player-controls {
		position: relative;
	}
	.video .player-controls {
		height: 57px;
	}
	.volume-bar-sub {
		width: 42%;
	}
	.progress-bar {
		position: absolute;
		top: -28%;
		left: 0;
		width: 100%;
		display: block;
	}
	.video-slider-item.remove {
		display: none;
	}
	.video-slider {
		justify-content: space-between;
		column-gap: 17px;
		margin-top: 21px;
	}
	.video-slider-item {
		width: 354px;
		height: 199px;
	}
	.video-slider-pagination svg {
		width: 10px;
	}
	.video .volume svg {
		padding-top: 9px;
	}
	.video .fullscreen-video svg {
		padding-top: 6px;
	}
	.video-slider-pagination {
		margin-top: 15px;
	}
	.section.video {
		padding-top: 40px;
		padding-bottom: 85px;
	}
	.videoplayer {
		margin-top: -47px;
	}
	.section.gallery {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.section.tickets {
		padding-top: 40px;
		padding-bottom: 38px;
	}
	.section.contacts {
		padding-top: 40px;
		padding-bottom: 37px;
	}
	.gallery-container {
		height: 1050px;
	}
	.gallery-element:nth-child(n+11) {
		display: none;
	}
	.gallery-grid {
		margin-top: 10px;
		column-gap: 12px;
	}
	.gallery-grid img {
		width: calc(50% - 12px);
	}
	.contacts-grid {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 60px;
	}
	.contacts-map {
		width: 100%;
		height: 65.4vw;
	}
	.contacts-text ul {
		margin-top: 40px;
		margin-bottom: 0;
	}
	.contacts-text {
		margin-bottom: 26px;
	}
	.footer-main {
		flex-direction: column;
	}
	.footer-left {
		margin-top: 78px;
	}
	.footer-right {
		width: 340px;
		align-self: flex-end;
		margin-top: 18px;
		margin-right: 12.5%;
	}
	.social-links {
		padding-left: 0;
		margin-top: 0;
	}
	footer {
		margin-top: -30px;
	}
	.footer-navigation {
		width: 393px;
		margin-right: 56px;
	}
	.footer-navigation-list {
		padding-left: 0;
	}
	.footer-navigation ul {
		max-width: 393px;
		width: 100%;
	}
	.footer-navigation-list li {
		letter-spacing: 2px;
		margin-bottom: 10px;
	}
	.footer-navigation-list li:nth-child(n+1) {
		margin-left: 20px;
	}
	.footer-navigation-list li:nth-child(n+4) {
		margin-right: 0;
		margin-left: 60px;
	}
	.footer-sub {
		margin-top: 112px;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 2px;
	}
	.footer-main::after {
		bottom: -27%;
	}
}

@media (max-width:768px) {
	.visiting-grid {
		column-gap: 0;
	}
	.explore-picture {
		margin-top: 35px;
	}
	.section.explore {
		padding-bottom: 36px;
	}
	.video-title-grid {
		height: 122px;
	}
	.tickets-grid img {
		content: url('assets/img/tickets/tickets1-scaled2.jpeg');
		width: 100%;
		height: auto;
	}
	.tickets-buy {
		margin-left: 60px;
	}
	.tickets .section-title {
		margin-bottom: -41px;
	}
	.purchase-inner .section-title {
		margin-bottom: 10px;
	}
	.tickets-caption h3 {
		margin-bottom: 24px;
	}
	.tickets-counter p {
		margin-bottom: 8px;
	}
	.tickets-checkout {
		margin-top: 15px;
	}
	.tickets-checkout button {
		margin-top: 40px;
	}
	.buy-now {
		font-size: 20px;
	}
}

@media (max-width:700px) {
	.navigation-scaled ul {
		margin-top: 45px;
	}
	.nav-scaled-images {
		gap: 12px;
		flex-wrap: nowrap;
	}
	.nav-img-container:first-child,
	.nav-img-container {
		width: calc(33.3% - 8px);
		height: 22.5vw;
	}
	.nav-img-container:first-child {
		order: 2;
	}
	.nav-img-container:last-child {
		order: 3;
	}
	.navigation-scaled .social-links {
		min-width: 260px;
	}
	.nav-scaled-line {
		position: relative;
		top: 0;
		/* margin: 0 auto; */
		margin-top: 20px;
		margin-bottom: -20px;
	}
	.welcome-pagination {
		width: 60%;
	}
	.visiting-grid {
		column-gap: 150px;
	}
	.explore-background img,
	.explore-foreground img {
		min-width: 280px;
	}
	.gallery-container {
		height: 845px;
	}
	.tickets-grid {
		flex-direction: column;
	}
	.tickets-buy {
		margin-left: 27%;
		align-items: flex-start;
	}
	.tickets-main-image {
		width: 100%;
		height: calc(100vw - 260px);
		overflow: hidden;
	}
	.tickets-caption h3 {
		margin-bottom: 0;
		margin-top: 31px;
	}
	.tickets-main-image img {
		margin-top: -65px;
	}
	.contacts-text h3 {
		font-size: 16px;
		line-height: 19px;
	}
	.contacts-text li {
		font-size: 16px;
		line-height: 19px;
	}
	.video-slider-item {
		width: 49%;
		height: 24vw;
	}
	.video-slider {
		margin-top: 40px;
	}
	.video-slider-pagination {
		margin-top: 35px;
	}
	.section.video {
		padding-bottom: 40px;
	}
	.section.tickets {
		padding-top: 42px;
	}
	.tickets-sum h3 {
		letter-spacing: 0;
	}
	.logo-name {
		margin-left: 21px;
	}
	.footer-left {
		margin-top: 62px;
		flex-wrap: wrap;
	}
	.footer-navigation-list {
		margin-top: 34px;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-flow: column;
	}
	.footer-navigation {
		width: 380px;
		margin-right: 0;
	}
	.footer-navigation-list li {
		margin: 0;
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 19px;
	}
	.footer-navigation-list li:nth-child(n+1) {
		margin-left: 0;
	}
	.footer-navigation-list li:nth-child(n+4) {
		margin-right: 0;
		margin-left: 0;
	}
	.footer-navigation-list li:nth-child(n+1) {
		margin-right: 95px;
	}
	.footer-navigation-list li:nth-child(n+3) {
		margin-right: 80px;
	}
	.footer-right {
		width: 340px;
		align-self: center;
		margin-top: 18px;
		margin-right: 0;
	}
	.footer-sub {
		margin-top: 75px;
	}
	.footer-sub p,
	.footer-sub a {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 2px;
	}
	.footer-container {
		height: 400px;
	}
	.footer-sub a {
		display: none;
	}
	.footer-sub a:last-child {
		display: block;
	}
}

@media (max-width:600px) {
	.header-container {
		height: 90px;
	}
	.section-title {
		font-size: 28px;
		line-height: 40px;
		letter-spacing: 5px;
	}
	.footer-left .logo-name {
		margin-top: 0px;
	}
	.logo-pic {
		width: 29px;
		height: 16px;
		margin-bottom: 6px;
	}
	.logo-name {
		font-size: 16px;
		line-height: 18px;
	}
	.welcome-text .section-title {
		margin-top: 15px;
		margin-left: -5px;
	}
	.welcome-subtitle {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.welcome-pagination {
		height: 75px;
		min-width: 220px;
	}
	.welcome-pagination * {
		margin-top: 5px;
	}
	.status-bar p {
		font-size: 16px;
		line-height: 40px;
		margin-right: 5px;
	}
	.welcome-indicator {
		width: 7px;
		height: 7px;
		margin-right: 10px;
	}
	.welcome-arrow svg {
		width: 20px;
		height: 8px;
	}
	.section.visiting {
		padding-top: 35px;
	}
	.visiting-grid {
		padding-top: 30px;
	}
	.section.visiting {
		padding-top: 42px;
		padding-bottom: 39px;
	}
	.card-title {
		margin-top: 21px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 5px;
	}
	.card-title::after {
		width: 54%;
	}
	.card-subtitle {
		font-size: 16px;
		line-height: 19px;
		padding: 0;
	}
	.card-subtitle+p {
		padding-top: 14px;
	}
	.section.explore {
		padding-top: 40px;
		padding-bottom: 41px;
	}
	.explore-picture {
		margin-top: 31px;
	}
	.section.video {
		padding-top: 37px;
	}
	.videoplayer {
		margin-top: -68px;
	}
	.video .player-controls {
		height: 56px;
	}
	.player-controls-inner {
		width: calc(100% - 40px);
		column-gap: 30px;
	}
	.video .play-button-small svg {
		width: 14px;
		height: 18px;
		padding-top: 10px
	}
	.progress-bar {
		top: -25%;
	}
	.video .volume svg {
		padding-top: 11px;
		margin-left: -6px;
		width: 18px;
		height: 14px;
	}
	.video .fullscreen-video svg {
		padding-top: 4px;
		width: 18px;
		height: 18px;
	}
	.gallery-container {
		height: 606px;
	}
	.tickets-caption h3,
	.tickets-grid p,
	.tickets-sum h3,
	.buy-now {
		font-size: 16px;
	}
	.tickets-caption h3 {
		margin-top: 33px;
		margin-left: 59px;
	}
	.container.tickets .purchase-inner .section-title::after {
		bottom: -50px;
	}
	.tickets-counter p {
		margin-top: -5px;
		margin-bottom: 10px;
	}
	.tickets-button {
		margin-bottom: 25px;
	}
	.tickets-sum {
		margin-top: -8px;
		margin-left: 45px;
	}
	.tickets .sum {
		margin-left: 5px;
	}
	.tickets-checkout button {
		margin-top: 33px;
	}
	.select-logo {
		padding-right: 18px;
	}
	.contacts-map {
		height: 248px;
	}
	.contacts-grid {
		margin-top: 62px;
	}
	.footer-left {
		margin-top: 60px;
	}
	.footer-right {
		width: 260px;
		margin-top: 9px;
	}
	.tickets-purchase {
		width: 420px;
		min-width: 310px;
	}
	.purchase-inner {
		max-height: none;
		min-height: 0;
		height: 1754px;
		width: 100%;
		max-width: 420px;
	}
	.tickets-info .section-title {
		font-size: 32px;
		line-height: 35px;
	}
	.tickets-inputs input[type="date"],
	.tickets-inputs input[type="time"],
	.custom-select {
		width: 100%;
		border: 2px solid #030303;
	}
	.tickets-info {
		width: calc(100% - 60px);
	}
	.entry-ticket {
		width: 100%;
	}
	.entry-ticket .crossline,
	.tickets-payment .crossline,
	.entry-ticket-line {
		width: calc(100% - 30px);
	}
	.purchase-inner .section-title {
		margin-bottom: 15px;
	}
	.tickets-forms-purchase {
		margin-top: -2px;
	}
	.time-placeholder {
		right: 77%;
		top: 80px;
	}
	.tickets-payment {
		margin-top: 75px;
		width: calc(100% - 60px);
		min-height: 885px;
	}
	.entry-ticket-line,
	.payment-info,
	.payment-subtotal,
	.payment-total {
		width: calc(100% - 30px);
	}
	.purchase-inner {
		justify-content: flex-start;
	}
	.payment-info h3 {
		margin-top: 24px;
	}
	.credit-card-main,
	.credit-card-sub {
		width: calc(100% - 30px);
		height: 209px;
	}
	.credit-card-sub {
		position: relative;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		margin-top: 25px;
	}
	.card-field.inner {
		bottom: 20px;
		right: 27px;
	}
	.card-name {
		width: calc(100% - 40px);
	}
	.card-field.inner .cvv-info {
		line-height: 10px;
		margin-top: 5px;
		margin-left: 14px;
	}
	.card-number {
		width: calc(100% - 115px);
	}
	.card-field:nth-child(2) input {
		width: calc(100% - 200px);
		min-width: 60px
	}
	footer {
		margin-top: -19px;
	}
	.footer-main::after {
		bottom: -19.5%;
	}
}

@media (max-width:410px) {
	.footer-navigation-list li:nth-child(n+1) {
		margin-right: 9vw;
	}
	.footer-navigation-list li:nth-child(n+3) {
		margin-right: 8vw;
	}
	.tickets-purchase {
		width: 100%;
	}
	.payment-info img {
		display: none;
	}
	.entry-ticket-line p {
		font-size: 15px;
	}
}

@media (max-width:360px) {
	.navigation-scaled .social-links {
		margin-top: 20px;
	}
	.navigation-scaled .social-links li {
		border: none;
	}
}