body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,234,234,1) 100%);
  min-height: 100vh;
}

.main {
  position: relative;
}

.header-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.search {
  height: 40px;
  width: calc(100% - 20px);
  padding: 5px 25px;
  margin: 0 auto;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  background-color: #2c7272;
  border: 1px solid #fff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;
  outline: none;
}

.search::placeholder {
  color: #fff;
  opacity: .5;
}

.header-name {
  width: 70%;
}

.header-name span {
  margin: 0;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Lora';
  font-weight: 500;
}

.main-container {
  width: 100%;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  column-gap: 50px;
}

.search-alert {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 200px;
  background-color: #fb5756;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.search-alert.hide {
  display: none;
}