body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,234,234,1) 100%);
  min-height: 100vh;
}

.main {
  position: relative;
  height: 100%;
  margin-bottom: 50px;
}

.header {
  background-color: #2c7272;
}

.header-container {
  width: calc(100% - 20px);
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: space-between;
  color: #fff;
}

.header-nav {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-width: 250px;
}

.misc-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 30px;
}

.page {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Lora';
  font-weight: 500;
  cursor: pointer;
}



.page:hover .page::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
}

.page.clicked {
  color: #fb5756;
  text-decoration: underline;
}

.toys-page {
  width: calc(100% - 20px);
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  column-gap: 50px;
}


.search {
  height: 40px;
  width: calc(100% - 20px);
  min-width: 250px;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #fb5756;
  color: #fff;
  border: 1px solid #fff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;

  outline: none;
}

.search::placeholder {
  color: #fff;
  opacity: .5;
}

.fav-counter {
  width: 48px;
  height: 60px;
  transition: .3s;
  margin-right: -5px;
}

.fav-count {
  display: inline-block;
  min-width: 42px;
  height: 42px;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 2px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #fb5756;
  border: 1px solid #fff;
}

.search-alert {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 200px;
  background-color: #fb5756;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.search-alert.hide {
  display: none;
}

.footer {
  max-width: 1280px;
  width: 100%;
  min-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer-container {
  width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container a {
  color: #333;
  text-decoration: none;
  transition: transform .2s;
}

.footer-container a:hover {
  transform: scale(1.05);
}

.hide {
  display: none;
}
