body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,234,234,1) 100%);
  min-height: 100vh;
}

.main {
  position: relative;
}

.header-container {
  width: calc(100% - 20px);
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: center;
  width: 30%;
  min-width: 250px;
}

.header-name {
  width: 70%;
  min-width: 350px;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
}

.name {
  margin: 0;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Lora';
  font-weight: 500;
}

.main-container {
  width: calc(100% - 20px);
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  column-gap: 50px;
}

.fav-counter {
  width: 48px;
  height: 60px;
  transition: .3s;
  margin-right: -5px;
}

.fav-count {
  display: inline-block;
  min-width: 42px;
  height: 42px;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 2px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #2c7272;
  color: #fff;
}

.search-alert {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 200px;
  background-color: #fb5756;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.search-alert.hide {
  display: none;
}