.garage-page {
  width: 100%;
  max-width: 1280px;
  margin: 30px auto;
  min-height: calc(100vh - 280px);
}

.car-params {
  display: flex;
  column-gap: 15px;
  align-items: stretch;
  margin-bottom: 15px;
  width: 300px;
}

.car-params input[type="color"] {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.car-params * {
  border-radius: 5px;
}

.car-params button {
  padding: 5px;
  background-color: #fff;
  border: 2px solid #333;
  transition: background-color .3s;
  cursor: pointer;
}

.car-params button:hover {
  background-color: #d3d3d3;
}
