html,
body {
  margin: 0;
  padding: 0;
  background: rgb(243, 248, 255);
  background: linear-gradient(90deg, rgba(243, 248, 255, 1) 0%, rgba(241, 241, 241, 1) 39%, rgba(170, 170, 170, 1) 100%);
  min-width: 300px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

body {
  opacity: 0;
}

header {
  position: relative;
}

.container {
  max-width: 1440px;
  width: calc(100% - 20px);
  margin: 0 auto;
  position: relative;
}

.main-page {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.icon {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: -50px;
  width: 110px;
  height: 70px;
  position: relative;
  background-image: url(./assets/img/main-page/logo.png);
  background-size: 110px 70px;
  background-repeat: no-repeat;
  transition: 1s;
  margin-top: -70px;
}

.icon.slide {
  margin-top: 50px;
}

.pagination {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
  transition: .5s;
}

.settings-btn,
.pagination-btn,
.popup-btn {
  width: 120px;
  height: 35px;
  margin: 0;
  text-align: center;
  line-height: 35px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  transition: .5s;
  cursor: pointer;
  user-select: none;
}

.settings-btn.main {
  margin: 100px auto;
  position: relative;
}

.pagination-btn {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  column-gap: 5px;
  align-items: center;
  margin: 0 10px;
}

.settings-btn:hover,
.pagination-btn:hover,
.popup-btn:hover {
  color: #fff;
  background-color: #30537a;
}

.pagination-btn svg {
  transition: .5s;
}

.pagination-btn:hover svg {
  fill: #fff;
}

.pagination-btn.back svg {
  transform: rotate(180deg);
}

.pagination-timer {
  width: 100px;
  height: 35px;
  margin: 0 auto;
  margin-top: -50px;
  text-align: center;
  font-size: 25px;
  text-align: center;
}

.pagination-timer.last-seconds {
  color: #cc0000;
}

.btn-icon {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
}

.page-name {
  width: 600px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  transition: 1s;
}

.main-field {
  max-width: 400px;
  min-width: 250px;
  width: 30vw;
  perspective: 1000px;
  position: relative;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.main-field.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.select-type,
.settings-field {
  max-width: 400px;
  max-height: 400px;
  min-width: 250px;
  min-height: 250px;
  width: 30vw;
  height: 30vw;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.select-type,
.settings-field {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.select-type {
  z-index: 2;
  transform: rotateY(0deg);
}

.settings-field {
  transform: rotateY(180deg);
}

.select-type {
  cursor: pointer;
  transition: .5s;
  position: relative;
}

.select-type:hover {
  transform: scale(1.05, 1.05);
}

.type-pic,
.settings-field {
  max-width: 400px;
  max-height: 400px;
  min-width: 250px;
  min-height: 250px;
  width: 30vw;
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  box-shadow: -12px 12px 16px 0px rgba(34, 60, 80, 0.2);
}

.type-name {
  margin-top: 15px;
  text-align: end;
  font-weight: 700;
  font-size: 36px;
}

.type-name span {
  font-weight: 400;
}

.artists .type-pic {
  background-image: url(./assets/img/main-page/type1.jpg);
}

.pictures .type-pic {
  background-image: url(./assets/img/main-page/type2.jpg);
}

.blitz .type-pic {
  background-image: url(./assets/img/main-page/type3.jpg);
}

.settings-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 60px;
}

.settings-field {
  text-align: center;
}

.settings-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px 100px;
}

.settings-icon.volume {
  background-image: url(./assets/svg/settings/sound-icon.svg);
}

.settings-icon.time {
  background-image: url(./assets/svg/settings/time-icon.svg);
}

.settings-icon.music {
  background-image: url(./assets/svg/settings/music-icon.svg);
}

.settings-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #30537a;
}

.volume-bar,
.time-bar,
.music-bar {
  margin: 0 auto;
  height: 8px;
  width: 90%;
  min-width: 150px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
}

.mute-icon,
.note-icon {
  width: 20px;
  margin: 0;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .3s;
}

.mute-icon {
  background-image: url(./assets/svg/settings/unmute.svg);
}

.mute-icon.mute {
  background-image: url(./assets/svg/settings/mute.svg);
}

.note-icon {
  background-image: url(./assets/svg/settings/music-icon.svg);
}
.note-icon.mute {
  background-image: url(./assets/svg/settings/music-mute-icon.svg);
}


.mute-icon:hover,
.note-icon:hover {
  transform: scale(1.1, 1.1);
}

input[type=range] {
  margin: 0;
  /* margin-top: -3px; */
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  position: absolute;
  left: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  margin-top: -3px;
  border-radius: 15px;
  border: 1px solid #fff;
  background: #30537a;
  cursor: pointer;
  -webkit-appearance: none;
  transition: .5s;
}

.blocked input[type=range] {
  transition: .5s;
  pointer-events: none;
}

.blocked .time-bar-sub {
  transition: .5s;
  background-color: #bcbcbc;
}

.blocked input[type=range]::-webkit-slider-thumb {
  transition: .5s;
  background-color: #bcbcbc;
}

.volume-range,
.time-range,
.music-range {
  width: 50%;
  height: 8px;
  background-color: transparent;
  position: relative;
}

.volume-bar-main,
.time-bar-main,
.music-bar-main {
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 8px;
  background-color: #cfe2f3;
}

.volume-bar-sub,
.time-bar-sub,
.music-bar-sub {
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 8px;
  background-color: #30537a;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: url(./assets/svg/settings/unchecked.svg);
  cursor: pointer;
  transition: .5s;
}

.custom-checkbox:checked+label::before {
  background-image: url(./assets/svg/settings/checked.svg);
}

.custom-checkbox:hover+label::before {
  transform: scale(1.1, 1.1);
}

.time-mode,
.time-selected {
  color: #30537a;
  user-select: none;
  font-size: 20px;
  line-height: 20px;
}

.time-selected {
  width: 20px;
}

.button-container {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.categories-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 100px;
}

.category {
  cursor: pointer;
  transition: .5s;
  overflow: hidden;
  width: 200px;
  opacity: 0;
  transform: translateY(-10vh);
}

.category:hover {
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.5);
}

.category-title {
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
  position: relative;
  color: #555;
  z-index: 2;
  pointer-events: none;
}

.category-title * {
  margin-left: 10px;
}

.category-number {
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}

.category-name {
  transition: .5s;
}

.category:hover .category-name {
  letter-spacing: 5px;
}

.category-stats {
  position: absolute;
  right: 8px;
  top: 16px;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  color: transparent;
  pointer-events: none;
}

.category-img {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: .5s;
  filter: saturate(0%);
  pointer-events: none;
}

.category:hover .category-img {
  transform: scale(1.1, 1.1);
}

.category.attempted .category-title,
.category.attempted .category-stats {
  color: #30537a;
}

.category.attempted .category-img {
  filter: saturate(100%);
}

.category:hover .category.attempted {
  box-shadow: 0px 0px 32px 10px rgba(21, 99, 159, 0.5);
}

.category-results {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -30%;
  width: 100%;
  height: 30%;
  background-color: #fff;
  color: #30537a;
  font-size: 22px;
  transition: .5s;
  pointer-events: all;
}

.category-results:hover {
  background-color: #bcbcbc;
}

.category.category.attempted:hover .category-results {
  bottom: 0;
}

.blitz .category {
  width: 400px;
}

.blitz .category-img {
  width: 400px;
  height: 400px;
}

.artists-mode,
.pictures-mode {
  position: relative;
}

.artists-mode.blocked,
.pictures-mode.blocked {
  pointer-events: none;
}

.question-indicators {
  width: 50%;
  min-width: 270px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.question-indicators.pictures {
  position: static;
  margin: 0 auto;
  transform: none;
  height: 30px;
}

.question-bullet {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #bcbcbc;
  border: 1px solid #fff;
  transition: .3s;
}

.question-bullet.correct,
.answer.correct,
.answer.correct:hover,
.blitz-answer.correct,
.blitz-answer.correct:hover {
  background-color: #006635;
}

.question-bullet.wrong,
.answer.wrong,
.answer.wrong:hover,
.blitz-answer.wrong,
.blitz-answer.wrong:hover {
  background-color: #cc0000;
}

.image-question,
.picture-answers {
  margin: 0 auto;
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);
  max-width: 600px;
  min-width: 280px;
  min-height: 280px;
}

.image-question {
  max-height: 600px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image .2s ease-in-out;
}

.picture-answers {
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture-answer {
  width: calc(50vw - 30px);
  height: calc(50vw - 30px);
  max-width: 285px;
  max-height: 285px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .5s;
  cursor: pointer;
  transition: background-image .2s ease-in-out;
}

.answers,
.blitz-answers {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 600px;
  width: calc(100vw - 20px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 15px;
}

.answer,
.blitz-answer {
  width: calc(50vw - 25px);
  box-sizing: border-box;
  max-width: 290px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  transition: .2s;
}

.picture-answer:hover {
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.5);
}

.picture-answer.correct {
  box-shadow: 0px 0px 16px 10px rgba(0, 102, 53, .5);
}

.picture-answer.wrong {
  box-shadow: 0px 0px 16px 10px rgba(204, 0, 0, .5);
}

.answer:hover,
.blitz-answer:hover {
  background-color: #bcbcbc;
}

.answer-popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
}

.popup-next,
.popup-final {
  padding: 20px 0;
  width: calc(100vw - 20px);
  max-width: 800px;
  height: 600px;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.popup-next {
  z-index: 2;
}

.popup-icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-image: url(./assets/svg/popup/correct.svg);
}

.popup-icon.wrong {
  background-image: url(./assets/svg/popup/wrong.svg);
}

.popup-image {
  width: 80vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  background-color: #30537a;
  background-repeat: no-repeat;
  background-size: 100%;
}

.popup-info {
  text-align: center;
}

.popup-btn {
  border: 1px solid #555;
}

.final-text {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: #30537a;
}

.final-score {
  font-size: 96px;
  font-weight: 700;
  color: #30537a;
}

.final-icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
}

.final-icon.very-good {
  background-image: url(./assets/svg/popup/result/very-good.svg);
}

.final-icon.good {
  background-image: url(./assets/svg/popup/result/good.svg);
}

.final-icon.normal {
  background-image: url(./assets/svg/popup/result/normal.svg);
}

.final-icon.bad {
  background-image: url(./assets/svg/popup/result/bad.svg);
}

.final-icon.very-bad {
  background-image: url(./assets/svg/popup/result/very-bad.svg);
}

.final-buttons {
  display: flex;
  column-gap: 50px;
}

.final-buttons .pagination-btn {
  border: 1px solid #000;
}

.category-score {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 100px;
}

.score-card {
  opacity: 0;
  transform: translateY(-10vh);
}

.score-title {
  width: 250px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  pointer-events: none;
}

.score-image {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 250px;
  filter: saturate(0%);
  position: relative;
  overflow-y: hidden;
  cursor: pointer;
  transition: background-image .2s ease-in-out;
}

.score-image.played {
  filter: none;
}

.score-image-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: -40%;
  width: 100%;
  height: 40%;
  background: #bcbcbc;
  color: #fff;
  transition: .5s;
}

.score-image.played .score-image-info {
  background-color: #30537a;
}

.score-image.clicked .score-image-info {
  bottom: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fromTop {
  0% {
    top: -50vh;
  }
  100% {
    top: 0;
  }
}

@keyframes fromBottom {
  0% {
    bottom: -100vh;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fromLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes fromRight {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}

@keyframes jumpUp {
  0% {
    opacity: 0;
    transform: translateY(-10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-to-top {
  animation: fromTop .5s forwards;
  animation-direction: reverse;
}

.slide-from-top {
  animation: fromTop 1s forwards;
}

.slide-left {
  animation: fromLeft 1s forwards;
}

.slide-right {
  animation: fromRight 1s forwards;
}

.slide-bottom {
  animation: fromBottom 1s forwards;
}

.fade-in {
  animation: fade 2s forwards;
}

.jump-up {
  animation: jumpUp 1s forwards;
}

.hide {
  display: none;
}

.transparent {
  opacity: 0;
}

@media (max-width: 1024px) {
  .main-page {
    flex-direction: column;
    row-gap: 80px;
    margin-top: 40px;
  }
  .settings-icon {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
  .image-question {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
    margin: 0 auto;
  }
  .type-name {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .answer,
  .page-name {
    font-size: 18px;
  }
  .pagination-btn {
    width: 80px;
  }
  .btn-text {
    display: none;
  }
  .category.category.attempted .category-results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    bottom: 0;
  }
}

@media (max-width: 420px) {
  .answer {
    height: 90px;
  }
  .category-number {
    font-size: 60px;
  }
  .blitz .category-img {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
    min-width: 280px;
    min-height: 280px;
  }
}